.dashboardGrid {
  display: grid;
  gap: 1rem;
  height: 100%;

  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

@media (min-width: 768px) {
  .dashboardGrid.simpleGrid {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "a b"
      "a c"
      "de f";
  }

  .dashboardGrid.overviewGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "a b"
      "c d";
  }
}