.dashboardGrid {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

@media (min-width: 768px) {
  .dashboardGrid.simpleGrid {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "a b"
      "a c"
      "de f";
  }

  .dashboardGrid.overviewGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "a b"
      "c c";
  }

  .dashboardGrid.defaultGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1.2fr;
    grid-auto-flow: row;
    grid-template-areas:
      "a a a b b b"
      "a a a b b b"
      "c c d d e e";
  }
}